.ProductDisplay {
  display: flex;
  margin: 0px 170px;
}

img {
  object-fit: contain;
}

.ProductDisplay-left {
  display: flex;
  gap: 17px;
}

.ProductDisplay-img-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ProductDisplay-img-list img {
  height: 163px;
}

.ProductDisplay-main-img {
  width: 586px;
  height: 700px;
}

.ProductDisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.ProductDisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.ProductDisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.ProductDisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.ProductDisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.ProductDisplay-right-price-new {
  color: #7e30e1;
}

.ProductDisplay-right h1 {
  color: #656565;
  margin-top: 55px;
  font-size: 20;
  font-weight: 600;
}

.ProductDisplay-right-storage {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.ProductDisplay-right-storages div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.ProductDisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #49108b;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
